html{
   font-size: 16px;
}

body {
  font-family: $raleway;
  font-size: $fontSize;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: auto;
  color: $white;
}

a{
  color: $white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;

  &:hover,
  &:active{
    text-decoration: none;
   //  color: inherit;
  }
}

button{
   padding: 0;
   border: none;
   background-color: transparent;
}

img{
  width: 100%;
  height: auto;
  display: block;
}