.d-block{
   display: block;
}

.d-flex{
   display: flex;
}

.jc-sb{
   justify-content: space-between;
}

.jc-c{
   justify-content: center;
}

.ai-c{
   align-items: center;
}

.o-visible{
   overflow: visible;
}

.o-hidden{
   overflow: hidden;
}

.l-height-0{
   line-height: 0;
}

.ml-30{
   margin-left: 1.875rem;
}