.about{
   position: relative;

   &__brush-stroke{
     position: absolute;
     top: -137px;
     z-index: 5;
     left: 0;
     width: 100%;
     height: 20vh;
     background: url('../images/border_1.png');
   }

   &__body{
      height: 100vh;
   }

}